# Ignore everything in folders exercicio:
**/exercicio*/*
**/questao*/*

# Ignore tales repository
_repositorio_tales

# Ignore .zip files
*.zip

# But not ignore these files...
!*.vhd
!*.vhdl
!*.vwf
!*.png
!*.jpg